@import "variables";
.header {
  grid-area: header;
  grid-template-columns: 1fr;
  grid-template-rows: 5em auto;
  display: grid;
  grid-template-areas: "header-nav" "site-title";
}

.site-title {
  text-align: left;
  margin-left: 20%;
  grid-area: site-title;
  a {
    color: $siteBlack;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    padding-left: 20px;
    font-size: 4em;
  }
}

.header-nav {
  grid-area: header-nav;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: flex-end; /* Safari 6.1+ */
  display: flex;
  justify-content: flex-end;
  a {
      margin: auto 0;
  }
    
    span {
        display: inline-block;
        color: $siteBackground;
        background: $siteBlack;
        font-weight: bold;
        font-size: 2em;
        margin: auto 0.1em;
        padding: 0.2em 0.2em;
    }

    #span-selected {
        text-decoration: underline;
        color: $siteBlack;
        background: $siteBackground;
        outline: 0;
    }
    #header-empty-left {
        width: 5vw;
        height: 0.9em;
    }
}

.yellowSquare {
  background: $siteDarkYellow;
  height: 10rem;
}

@media screen and (max-width: $BreakPointMedium) {
  .site-title {
    text-align: center;
    margin: 0;
    h1 {
      font-size: 8vw;
    }
  }
}

@media screen and (max-width: $BreakPointSmall) {
  .site-title {
    h1 {
      padding-left: 0px;
    }
  }
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
