@import "variables";
.line-sep {
  display: block;
  margin-left: 30%
}

.line-sep>hr {
  border: none;
  background-color: $siteBlack;
  height: 30px;
}

.line-sep>p {
  padding-left: 3rem;
  padding-right: auto;
  margin: 0;
}
