<header class="header">
  <div class="header-nav">
      <a href="/index.html">
        <span class="parallelogram header-link"
          $if(indexBlog)$
            id="span-selected"
          $endif$
          >Blog</span>
      </a>
      <a href="/indexProjects.html">
        <span class="parallelogram header-link"
          $if(indexProjects)$
            id="span-selected"
          $endif$
          >Projects</span>
      </a>
      <a href="/indexArt.html">
        <span class="parallelogram header-link"
          $if(indexArt)$
            id="span-selected"
          $endif$
          >Art</span>
      </a>
      <a href="/indexWriting.html">
        <span class="parallelogram header-link"
          $if(indexWriting)$
            id="span-selected"
          $endif$
          >Writing</span>
      </a>
      <a href="/about.html">
        <span class="parallelogram header-link"
          $if(about)$
            id="span-selected"
          $endif$
          >About</span>
      </a>
        <span class="parallelogram header-link" id="header-empty-right" >
          <!--This invisible character makes sure the hight is the same as the other parallelograms -->
          &#8205;
        </span>
  </div>
  <div class="site-title">
    <div class="yellowSquare">
      <h1 class="vertical-align"><a href="/index.html">
         $siteTitle$
    </a></h1>
    </div>
      <div class="line-sep">
        <hr>
      </div>
  </div>
</header>
