$for(contents)$
<div class="content-project content-text">
  <div class="content-project-header">
    <h1>$title$</h1>
    $if(logo)$
    <embed src="$logo$" viewBox="0 0 100 100" class="project-logo"> </embed>
    $endif$
    $if(status)$
    <span>Status: <span class="project-status parallelogram $status$">$status$</span> </span>
    $endif$
  </div>
  <div class="content-project-body">
    $body$
  
    $partial("templates/tags.html")$
  
    $if(link)$
    <a class="project-link" href="$link$">$linkText$</a>
    $endif$
  </div>
</div>
$endfor$

