<div class="art-content">
    $for(contents)$
    <div class="art-display">
      $if(title)$
      <h1>$title$</h1>
      $endif$
    <img src="$image$" alt="$alt$" />
    $partial("templates/contentMeta.html")$ 
    </div>
    $endfor$
</div>
<div class="pagination center-container">
    $if(previousPageNum)$
        <a href="$previousPageUrl$">
          <i class="art-page-arrow fas fa-arrow-left"></i>
        </a>
    $else$
      $if(lastPageUrl)$
        <a href="$lastPageUrl$">
          <i class="art-page-arrow fas fa-arrow-left"></i>
        </a>
      $endif$
    $endif$
    page $currentPageNum$ of $numPages$
    $if(nextPageNum)$
    <a href="$nextPageUrl$"> 
      <i class="art-page-arrow fas fa-arrow-right"></i>
    </a>
    $else$
      $if(firstPageUrl)$
        <a href="$firstPageUrl$">
          <i class="art-page-arrow fas fa-arrow-right"></i>
        </a>
      $endif$
    $endif$
</div>
